[Desktop Entry]
Encoding=UTF-8
Name=CCIP
Comment=CCIP P2P Cryptocurrency
Comment[fr]=CCIP, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CCIP, eşten eşe kriptografik sanal para birimi
Exec=CCIP-qt %u
Terminal=false
Type=Application
Icon=CCIP128
MimeType=x-scheme-handler/CCIP;
Categories=Office;Finance;
